.swal-modal {
  background-color: rgb(125, 124, 124);
  width: 290px;
  height: 290px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}


.swal-title { 
  padding-top: 22px;
  padding-bottom: 2rem;
  margin: 0;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  color: #ffffff;
}

.swal-text {
  display: block;
  margin: 22px;
  text-align: center;
  color: #ffffff;
}

.swal-button--confirm {
  color: black;
  padding: 8px 30px;
  border-radius: 8px;
  background-color: #8eff8b;
  font-size: 14px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}


.swal-button--cancel {
  color: black;
  padding: 8px 30px;
  border-radius: 8px;
  background-color: #ff8b8b;
  font-size: 14px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-icon.swal-icon--success::before{
  background-color: rgb(125, 124, 124);
  border-color: rgb(125, 124, 124);
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;

}
.swal-icon.swal-icon--success::after{
  background-color: rgb(125, 124, 124);
}
.swal-icon--success__hide-corners {
  display: none;
}

.swal-footer {
  text-align: center;
  padding: 0;
  margin:0;
}